Repository hetzneronline/community-content, pull requests merged in 2023-10, with the labels that each got.

#700 Update 01.en.md
  tutorials/install-caprover/01.en.md
Labels: ready

#701 Fix code blocks
  tutorials/a-basic-guide-to-php-symfony/01.en.md
  tutorials/a-basic-guide-to-php-symfony/02.en.md
  tutorials/cockroachdb-cluster-on-hetzner-cloud/01.en.md
  tutorials/install-and-configure-puppet-master-and-agent/01.de.md
  tutorials/install-and-configure-puppet-master-and-agent/01.en.md
  tutorials/install-archlinux-using-archinstall/01.en.md
  tutorials/install-lemp-stack-on-debian-10/01.en.md
  tutorials/install-livck/01.en.md
  tutorials/install-matomo-analytics-on-centos-7/01.en.md
  tutorials/install-plesk-cloud-server/01.en.md
  tutorials/install-sinusbot/01.de.md
  tutorials/migrate-to-hetzner-web-hosting/01.de.md
  tutorials/mikrotik-chr-basic-setup/01.en.md
  tutorials/mikrotik-chr-basic-setup/01.ru.md
  tutorials/prosody-on-debian9/01.en.md
  tutorials/prosody-on-debian9/01.it.md
  tutorials/prosody-on-debian9/01.ru.md
  tutorials/real-time-apps-with-go-and-reactjs/03.en.md
  tutorials/secure-fedora-webserver/01.en.md
  tutorials/securing-ssh/01.de.md
  tutorials/securing-ssh/01.en.md
  tutorials/setup-monitoring-on-managed-server/01.en.md
Labels: ready, Existing tutorial

#704 Update "Gather metrics of your Proxmox VE server with Prometheus"
  tutorials/proxmox-prometheus-exporter/01.en.md
Labels: ready, Existing tutorial

#705 Update "Install and Configure Ubuntu Remote Desktop with XFCE using X2Go"
  tutorials/install-and-configure-x2goserver/01.de.md
  tutorials/install-and-configure-x2goserver/01.en.md
Labels: ready, Existing tutorial

#706 fix incorrect information, add links to official documentation
  tutorials/plesk-hetzner-dns/01.en.md
  tutorials/plesk-hetzner-dns/images/plesk-ips.jpg
  tutorials/plesk-hetzner-dns/images/plesk-nameservers.jpg
Labels: ready

#707 Fix formatting
  tutorials/plesk-hetzner-dns/01.en.md
Labels: ready

#711 Add hint in "Install and Configure Plex Media Server on CentOS 8"
  tutorials/install-and-configure-plex-media-server-on-centos-8/01.en.md
Labels: ready, Existing tutorial

#713 Update "Software RAID under Linux"
  tutorials/howto-setup-mdadm/01.de.md
  tutorials/howto-setup-mdadm/01.en.md
Labels: ready, Existing tutorial

#714 Update hint in "Install and Configure Plex Media Server on CentOS 8"
  tutorials/install-and-configure-plex-media-server-on-centos-8/01.en.md
Labels: ready, Existing tutorial

#715 Add hint in "Securing the SSH service"
  tutorials/securing-ssh/01.de.md
  tutorials/securing-ssh/01.en.md
Labels: ready, Existing tutorial

#716 Point to storage box documentation ssh key in bogmatic tutorial
  tutorials/install-and-configure-borgbackup/01.de.md
  tutorials/install-and-configure-borgbackup/01.en.md
Labels: ready

#717 New tutorial - Kubernetes in Hetzner with Claudie!
  tutorials/kubernetes-with-claudie/01.en.md
Labels: needs action
