Repository hetzneronline/community-content, pull requests merged in 2023-02, with the labels that each got.

#534 [Mailcow] Update to current state, remove malicious link and added new topics
  tutorials/setup-mailserver-with-mailcow/01.en.md
Labels: enhancement, ready, Existing tutorial

#553 [Mailcow] Remove malicious link from Russian version of tutorial
  tutorials/setup-mailserver-with-mailcow/01.ru.md
Labels: ready

#486 Added tutorial raid-repartitioning-on-system-in-use
  tutorials/raid-repartitioning-on-system-in-use/01.de.md
  tutorials/raid-repartitioning-on-system-in-use/01.en.md
Labels: ready

#521 Proofreading Install and Secure Nginx with Let’s Encrypt in Debian 10
  tutorials/install-and-secure-nginx-lets-encrypt-debian-10/01.en.md
Labels: ready, Existing tutorial

#527 Proofreading Monitor Your Servers using Grafana with InfluxDB and Tel…
  tutorials/server-monitoring-using-grafana-and-influxdb/01.en.md
  tutorials/server-monitoring-using-grafana-and-influxdb/images/add-datasource-details.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/add-datasource.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/grafana-configuration-menu-with-data-sources-item-selected.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/grafana-dashboards-menu-with-plus-import-item-selected.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/grafana-hc-monitor-dashboard.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/grafana-import-dashboard-hc-monitor-import-step.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/grafana-import-dashboard-hc-monitor-load-step.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/grafana-influxdb-data-source-settings.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/header-image.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/import-dashboard-detailed.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/import-dashboard-further.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/import-dashboard.png
  tutorials/server-monitoring-using-grafana-and-influxdb/images/save-dashboard.png
Labels: ready, Existing tutorial

#491 Install a MariaDB Cluster with Galera4
  tutorials/install-galera-cluster-with-cloud-servers/01.de.md
  tutorials/install-galera-cluster-with-cloud-servers/01.en.md
  tutorials/install-galera-cluster-with-cloud-servers/images/galera_small.png
  tutorials/install-galera-cluster-with-cloud-servers/images/lb_healthcheck.en.png
  tutorials/install-galera-cluster-with-cloud-servers/images/lb_healthcheck.png
  tutorials/install-galera-cluster-with-cloud-servers/images/lb_service.en.png
  tutorials/install-galera-cluster-with-cloud-servers/images/lb_service.png
  tutorials/install-galera-cluster-with-cloud-servers/images/lb_targets.de.png
  tutorials/install-galera-cluster-with-cloud-servers/images/lb_targets.en.png
  tutorials/install-galera-cluster-with-cloud-servers/images/wsrep_status.png
Labels: ready

#523 Proofreading Install and Configure AWX without Using Kubernetes
  tutorials/awx-without-kubernetes/01.en.md
Labels: ready, Existing tutorial

#557 Existing tutorial: fix mistake in the description of step 1
  tutorials/howto-initial-setup-ubuntu/01.de.md
  tutorials/howto-initial-setup-ubuntu/01.en.md
Labels: ready, Existing tutorial

#505 New tutorial: Light weight monitoring with "monit"
  tutorials/light-weight-monitoring-with-monit/01.en.md
  tutorials/light-weight-monitoring-with-monit/images/monit-detailed-monitor.png
  tutorials/light-weight-monitoring-with-monit/images/monit-failing-monitor.png
  tutorials/light-weight-monitoring-with-monit/images/monit-web-gui-fs.png
  tutorials/light-weight-monitoring-with-monit/images/monit-web-gui-minimal.png
  tutorials/light-weight-monitoring-with-monit/images/monit-web-gui.png
Labels: ready
