Repository hetzneronline/community-content, pull requests merged in 2024-12, with the labels that each got.

#959 Tutorial for setting up AppFlowy on Hetzner Cloud
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/01.en.md
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/images/appflowy_login-anonymous.png
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/images/appflowy_setting-restart.png
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/images/appflowy_setting.png
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/images/bucket_url.png
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/images/image_appflowy.png
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/images/image_console.png
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/images/open_appflowy.png
  tutorials/install-and-configure-appflowy-with-hetzner-object-storage/images/user_invite.png
Labels: ready

#978 nextcloud-object-storage
  tutorials/nextcloud-hetzner-object-storage/01.en.md
Labels: ready

#1010 fix: update packer tutorial post
  tutorials/custom-os-images-with-packer/01.de.md
  tutorials/custom-os-images-with-packer/01.en.md
Labels: ready, Existing tutorial

#1015 Fix typo in "Setup Nextcloud with S3-compatible object storage"
  tutorials/nextcloud-hetzner-object-storage/01.en.md
Labels: ready, Existing tutorial

#1011 Update nextcloud tutorial
  tutorials/install-and-configure-nextcloud/01.en.md
Labels: ready, Existing tutorial

#1013 Updated Discord bot tutorial images and code
  tutorials/create-discord-bot/01.en.md
  tutorials/create-discord-bot/images/Authorize-1.jpg
  tutorials/create-discord-bot/images/Authorize-2.jpg
  tutorials/create-discord-bot/images/Build-a-Bot.jpg
  tutorials/create-discord-bot/images/Create-an-Application.jpg
  tutorials/create-discord-bot/images/Gateway-Intents.jpg
  tutorials/create-discord-bot/images/New-Application.jpg
  tutorials/create-discord-bot/images/OAuth2-URL-1.jpg
  tutorials/create-discord-bot/images/OAuth2-URL-2.jpg
Labels: review wanted, Existing tutorial

#991 add make-a-factorio-server tutorial
  tutorials/game-server-factorio/01.en.md
Labels: ready

#996 Managed Kubernetes at Hetzner Tutorial
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/01.en.md
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubectl.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubernetes-hetzner-1.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubernetes-hetzner-2.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubernetes-hetzner-3.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubernetes-hetzner-4.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/deploy-on-hetzner-kubernetes.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-nginx.png
Labels: ready

#1022 proxmox-ve: Fix IPv6 configuration in routed setup
  tutorials/install-and-configure-proxmox_ve/01.de.md
  tutorials/install-and-configure-proxmox_ve/01.en.md
Labels: ready, Existing tutorial

#1025 add whitespace to properly close table
  tutorials/game-server-factorio/01.en.md
Labels: ready, Existing tutorial

#998 Tutorial on setting up Gurobi with Docker
  tutorials/create-gurobi-compute-server/01.en.md
  tutorials/create-gurobi-compute-server/images/create-api-key.png
  tutorials/create-gurobi-compute-server/images/generate-license-1.png
  tutorials/create-gurobi-compute-server/images/generate-license-2.png
Labels: ready

#1007 added object-storage-based-filesystem tutorial
  tutorials/object-storage-based-filesystem/01.de.md
  tutorials/object-storage-based-filesystem/01.en.md
Labels: ready

#1020 Tutorial on how to Setup a GitLab CI auto scaling infrastructure
  tutorials/howto-setup-gitlab-ci-auto-scaling-infrastructure/01.en.md
Labels: ready, official

#1026 Fix typo in "Object Storage Based Filesystem with s3fs"
  tutorials/object-storage-based-filesystem/01.de.md
  tutorials/object-storage-based-filesystem/01.en.md
Labels: ready, Existing tutorial
