Repository hetzneronline/community-content, pull requests merged in 2024-03, with the labels that each got.

#783 New tutorial - "Setting up a Palworld server"
  tutorials/game-server-palworld/01.de.md
  tutorials/game-server-palworld/01.en.md
  tutorials/game-server-palworld/images/01_palworld_desktop-release.de.jpg
  tutorials/game-server-palworld/images/01_palworld_desktop-release.en.jpg
  tutorials/game-server-palworld/images/02_palworld_add-ip.de.jpg
  tutorials/game-server-palworld/images/02_palworld_add-ip.en.jpg
  tutorials/install-steamcmd/01.de.md
  tutorials/install-steamcmd/01.en.md
Labels: ready

#789 Fix typo in "Setting up a Palworld server"
  tutorials/game-server-palworld/01.en.md
Labels: ready, Existing tutorial

#793 Update version in "How to set up K3S, GlusterFS and Hetzner's Cloud Load Balancer"
  tutorials/k3s-glusterfs-loadbalancer/01.en.md
Labels: ready, Existing tutorial

#799 Fix typo in ai-chatbot-with-ollama-and-open-webui/de
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.de.md
Labels: ready, Existing tutorial

#804 Fix link in "Install and Configure Nextcloud Office"
  tutorials/install-and-configure-nextcloud-collabora-online/01.de.md
  tutorials/install-and-configure-nextcloud-collabora-online/01.en.md
Labels: ready, Existing tutorial

#796 Added tutorial "Deploy your own ELK stack using Docker Compose"
  tutorials/deploy-elk-stack-with-docker/01.en.md
  tutorials/deploy-elk-stack-with-docker/images/image10.png
  tutorials/deploy-elk-stack-with-docker/images/image11.png
  tutorials/deploy-elk-stack-with-docker/images/image13.png
  tutorials/deploy-elk-stack-with-docker/images/image4.png
  tutorials/deploy-elk-stack-with-docker/images/image5.png
  tutorials/deploy-elk-stack-with-docker/images/image7.png
  tutorials/deploy-elk-stack-with-docker/images/image9.png
Labels: ready

#800 rework Proxmox VE Tutorial
  tutorials/install-and-configure-proxmox_ve/01.de.md
  tutorials/install-and-configure-proxmox_ve/01.en.md
  tutorials/install-and-configure-proxmox_ve/01.ru.md
  tutorials/install-and-configure-proxmox_ve/images/3935fcac-0bc7-47c1-8965-511f11d7f72c.png
  tutorials/install-and-configure-proxmox_ve/images/d5ce2092-8887-4695-9bd1-ba9e3c8e3f71.png
  tutorials/install-and-configure-proxmox_ve/images/e569dbf9-2431-4973-abad-d950b6b75eda.png
  tutorials/install-and-configure-proxmox_ve/images/proxmox-create-linux_bridge-window-with-vmbr0-and-ip-addresses-copied-from-the-main-nic.png
  tutorials/install-and-configure-proxmox_ve/images/proxmox-create-linux_bridge-window-with-vmbr0-settings.png
  tutorials/install-and-configure-proxmox_ve/images/proxmox-network_device-editing-window-with-adjusted-main-ipv6-prefix.png
  tutorials/install-and-configure-proxmox_ve/images/proxmox-network_device-editing-window-with-no-ip-addresses.png
Labels: ready

#806 Resolve networking misleads in Hetzner Claudie tutorial
  tutorials/kubernetes-with-claudie/01.en.md
Labels: Existing tutorial

#810 Fix file name in "Hosting an AI chatbot with Ollama and Open WebUI"
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.de.md
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.en.md
Labels: Existing tutorial
