Repository hetzneronline/community-content, pull requests merged in 2024-08, with the labels that each got.

#889 🔄 Update "Setup Next.js with TailwindCSS"
  tutorials/setup-nextjs-with-tailwind/01.de.md
  tutorials/setup-nextjs-with-tailwind/01.en.md
  tutorials/setup-nextjs-with-tailwind/images/component-example.de.png
  tutorials/setup-nextjs-with-tailwind/images/component-example.en.png
  tutorials/setup-nextjs-with-tailwind/images/component-example.png
Labels: ready, Existing tutorial

#880 Deploy a pocketbase
  tutorials/deploy-a-pocketbase/01.en.md
  tutorials/deploy-a-pocketbase/images/download-pocketbase.png
  tutorials/deploy-a-pocketbase/images/set-up-an-admin-account.png
Labels: ready

#895 🔄 Update "Setting up a Mindustry server"
  tutorials/setup-mindustry-server/01.de.md
  tutorials/setup-mindustry-server/01.en.md
Labels: ready, Existing tutorial

#896 🔄 Update "How to route cloud server over private network using pfSense and Hetzner Cloud Networks"
  tutorials/how-to-route-cloudserver-over-private-network-using-pfsense-and-hcnetworks/01.en.md
Labels: ready, Existing tutorial

#897 📝 Add 'update secret reference in deployment' in "Managing Kubernetes on Hetzner with Cluster API"
  tutorials/kubernetes-on-hetzner-with-cluster-api/01.de.md
  tutorials/kubernetes-on-hetzner-with-cluster-api/01.en.md
Labels: ready, Existing tutorial

#899 📝 Minor updates in "Setting up a VPC with site-to-site VPN in Hetzner Cloud" (#897)
  tutorials/vpc-with-wireguard-pfsense/01.en.md
  tutorials/vpc-with-wireguard-pfsense/images/vpc-pfsense-attach-iso.2.7.2.png
  tutorials/vpc-with-wireguard-pfsense/images/vpc-pfsense-attach-iso.png
Labels: ready, Existing tutorial

#901 📝 Add step about Load Balancer in "Setup your own scalable Kubernetes cluster with the Terraform provider for Hetzner Cloud"
  tutorials/setup-your-own-scalable-kubernetes-cluster/01.en.md
Labels: ready, Existing tutorial

#898 How to send and receive data from a RESTful API using a terminal and PHP
  tutorials/communication-with-restful-api-via-terminal-and-php/01.en.md
Labels: ready

#902 New tutorial - "Analyze nginx access log using SQL"
  tutorials/analyze-nginx-access-log-using-sql/01.en.md
Labels: ready

#905 Fix typo
  tutorials/analyze-nginx-access-log-using-sql/01.en.md
Labels: ready, Existing tutorial

#906 Correct BorgMatic documentation
  tutorials/install-and-configure-borgmatic/01.en.md
Labels: ready, Existing tutorial

#894 Added new Tutorial for an soketi-server (WebSocket-Server) behind a Reverse Proxy (nginx)
  tutorials/setup-soketi-websocket-server-behind-reverse-proxy/01.de.md
  tutorials/setup-soketi-websocket-server-behind-reverse-proxy/01.en.md
Labels: ready

#907 Update "Hosting an AI chatbot with Ollama and Open WebUI"
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.de.md
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.en.md
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/01_chatui_preview.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/01_chatui_preview.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/01_chatui_preview.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/02_chatui-model-settings.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/02_chatui-model-settings.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/02_chatui-model-settings.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-model-download.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-model-download.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-model-download.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/04_chatui-model-llama2.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/04_chatui-model-llama2.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/04_chatui-model-llama2.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/05_chatui-model-several.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/05_chatui-model-several.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/05_chatui-model-several.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/06_chatui-model-responses.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/06_chatui-model-responses.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/06_chatui-model-responses.jpg
Labels: ready, Existing tutorial

#908 Update date in "Hosting an AI chatbot with Ollama and Open WebUI"
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.de.md
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.en.md
Labels: ready, Existing tutorial

#909 📝 Change Docker installation steps in "Installing CapRover on Hetzner Cloud"
  tutorials/install-caprover/01.en.md
Labels: Existing tutorial

#910 🔄 Update "How To Install Git on Ubuntu"
  tutorials/how-to-install-git-on-ubuntu/01.en.md
Labels: ready, Existing tutorial

#911 📝 Add Ubuntu 24.04 in "How to set up NAT gateway for private Cloud Networks"
  tutorials/how-to-set-up-nat-for-cloud-networks/01.de.md
  tutorials/how-to-set-up-nat-for-cloud-networks/01.en.md
Labels: ready, Existing tutorial

#914 📝 Add Ubuntu 24.04 in cloud-init in "How to set up NAT gateway for private Cloud Networks"
  tutorials/how-to-set-up-nat-for-cloud-networks/01.de.md
  tutorials/how-to-set-up-nat-for-cloud-networks/01.en.md
Labels: ready, Existing tutorial

#915 🔄 Update "How to login to your Hetzner instance with an SSH Key"
  tutorials/add-ssh-key-to-your-hetzner-cloud/01.en.md
Labels: ready, Existing tutorial

#916 🗑️ Delete "How to migrate a CVS repository to Git"
  tutorials/how-to-migrate-a-cvs-repository-to-git/01.en.md
Labels: ready, Existing tutorial

#918 🔄 Update "Install and Configure ONLYOFFICE Docs for Nextcloud"
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/01.en.md
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/images/1-server-administration-settings.png
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/images/1-server-settings.png
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/images/2-common-settings-modes.png
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/images/2-common-settings.png
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/images/3-templates-letter.png
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/images/3-templates.png
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/images/4-watermarking-admin.png
  tutorials/install-and-configure-onlyoffice-docs-for-nextcloud/images/4-watermarking.png
Labels: ready, Existing tutorial

#919 📝 Add hint in "How to set up NAT gateway for private Cloud Networks"
  tutorials/how-to-set-up-nat-for-cloud-networks/01.de.md
  tutorials/how-to-set-up-nat-for-cloud-networks/01.en.md
Labels: ready, Existing tutorial

#921 🔄 Update "Install Docker CE on Debian 10 with Dual stack IPv6-NAT and Firewall Support"
  tutorials/debian-10-docker-install-dualstack-ipv6nat-firewall/01.en.md
  tutorials/debian-docker-install-dualstack-firewall/01.en.md
Labels: ready, Existing tutorial

#922 add tutorial "Setting up an OSSEC Server and Agent"
  tutorials/ossec-server-and-agent-setup/01.en.md
  tutorials/ossec-server-and-agent-setup/images/step1_firewall.png
  tutorials/ossec-server-and-agent-setup/images/step1_private-network.png
Labels: ready, official

#923 Update "A simple installation guide for Nginx Proxy Manager"
  tutorials/installing-nginx-proxy-manager/01.en.md
  tutorials/installing-nginx-proxy-manager/images/3VF66kCe.png
  tutorials/installing-nginx-proxy-manager/images/BkNe2vI9.png
  tutorials/installing-nginx-proxy-manager/images/C7x29dxJ.png
  tutorials/installing-nginx-proxy-manager/images/CTkaKrfH.png
  tutorials/installing-nginx-proxy-manager/images/Qy1q988Y.png
  tutorials/installing-nginx-proxy-manager/images/W2wiKC9C.png
  tutorials/installing-nginx-proxy-manager/images/cjHPpsMz.png
  tutorials/installing-nginx-proxy-manager/images/cxXQZrZR.png
  tutorials/installing-nginx-proxy-manager/images/nginx-proxy-manager_admin-ui.png
  tutorials/installing-nginx-proxy-manager/images/nginx-proxy-manager_dashboard.png
  tutorials/installing-nginx-proxy-manager/images/nginx-proxy-manager_new-proxy-host.png
  tutorials/installing-nginx-proxy-manager/images/nginx-proxy-manager_ssl.png
  tutorials/installing-nginx-proxy-manager/images/nginx-proxy-manager_wordpress.png
  tutorials/installing-nginx-proxy-manager/images/xYtAyi13.png
Labels: ready, Existing tutorial

#924 Update "Install and Configure Dante Socks5 Proxy on Debian/Ubuntu"
  tutorials/install-and-configure-danted-proxy-socks5/01.en.md
Labels: ready, Existing tutorial

#925 Update "Install a FEMP Stack on FreeBSD"
  tutorials/install-a-femp-stack-on-freebsd-12/images/02-phpinfo.png
  tutorials/install-a-femp-stack-on-freebsd/01.en.md
  tutorials/install-a-femp-stack-on-freebsd/images/01-welcometonginx.png
  tutorials/install-a-femp-stack-on-freebsd/images/02-phpinfo.8.3.8.png
Labels: ready, Existing tutorial

#926 Fix typo
  tutorials/install-a-femp-stack-on-freebsd/01.en.md
Labels: ready, Existing tutorial

#927 Update "DNS Validated Let's Encrypt Certificates"
  tutorials/letsencrypt-dns/01.en.md
Labels: ready, Existing tutorial

#928 Update "Install Jitsi Meet on Debian/Ubuntu"
  tutorials/jitsi-meet-on-debian-ubuntu/01.en.md
Labels: ready, Existing tutorial

#929 Update "Install and secure Netdata using nginx http basic authentication"
  tutorials/install-secure-netdata/01.en.md
  tutorials/install-secure-netdata/images/install-netdata-1.png
  tutorials/install-secure-netdata/images/install-netdata-2.png
  tutorials/install-secure-netdata/images/netdata-web-interface.gif
  tutorials/install-secure-netdata/images/netdata-web-interface.png
Labels: ready, Existing tutorial

#930 Update "Install and Configure Ubuntu Remote Desktop with XFCE using X2Go"
  tutorials/install-and-configure-x2goserver/01.de.md
  tutorials/install-and-configure-x2goserver/01.en.md
  tutorials/install-and-configure-x2goserver/images/connection.24.png
  tutorials/install-and-configure-x2goserver/images/connection.png
  tutorials/install-and-configure-x2goserver/images/firewall.png
  tutorials/install-and-configure-x2goserver/images/x2go-client.24.png
  tutorials/install-and-configure-x2goserver/images/x2go-client.png
Labels: ready, Existing tutorial
