Repository hetzneronline/community-content, pull requests merged in 2024-07, with the labels that each got.

#858 added Pretix on Hetzner Cloud Tutorial
  tutorials/pretix-ticketing-software/01.en.md
Labels: ready

#869 🏷️ Update metadata - Add new CTAs `gaming` and `gpu`
  tutorials/ai-image-generator-with-stable-diffusion-webui/01.de.md
  tutorials/ai-image-generator-with-stable-diffusion-webui/01.en.md
  tutorials/game-server-ddos-protection/01.de.md
  tutorials/game-server-ddos-protection/01.en.md
  tutorials/game-server-palworld/01.de.md
  tutorials/game-server-palworld/01.en.md
  tutorials/game-server-with-amp/01.en.md
  tutorials/game-server-with-amp/01.ru.md
  tutorials/install-pterodactyl-panel-with-install-script/01.en.md
  tutorials/make-a-minecraft-server/01.en.md
Labels: ready, Existing tutorial

#859 Managing Kubernetes on Hetzner with Cluster API
  tutorials/kubernetes-on-hetzner-with-cluster-api/01.de.md
  tutorials/kubernetes-on-hetzner-with-cluster-api/01.en.md
Labels: ready

#865 NeoVim tutorial
  tutorials/how-to-install-and-use-neovim-as-ide/01.en.md
Labels: ready

#873 Fix path
  tutorials/kubernetes-on-hetzner-with-cluster-api/01.de.md
Labels: Existing tutorial

#875 Fix typo
  tutorials/install-and-configure-ntp/01.de.md
Labels: ready, Existing tutorial

#876 Update article for Debian 12
  tutorials/install-lemp-stack-on-debian-12/01.en.md
Labels: ready, Existing tutorial

#874 Update to "Install and configure borgmatic"
  tutorials/install-and-configure-borgmatic/01.en.md
Labels: ready, Existing tutorial

#870 Installation guide for the Jexactyl game and billing panel
  tutorials/game-panel-jexactyl/01.en.md
  tutorials/game-panel-jexactyl/images/configuration.png
  tutorials/game-panel-jexactyl/images/jexactyl.png
  tutorials/game-panel-jexactyl/images/jexactyl_location-icon.png
  tutorials/game-panel-jexactyl/images/jexactyl_settings.png
  tutorials/game-panel-jexactyl/images/locations.png
  tutorials/game-panel-jexactyl/images/nodes.png
  tutorials/game-panel-jexactyl/images/ports.png
Labels: ready

#878 Make instructions match between languages
  tutorials/install-and-configure-ntp/01.en.md
  tutorials/install-and-configure-ntp/01.ru.md
Labels: Existing tutorial

#877 Check IPs using ip.hetzner.com
  tutorials/install-and-configure-danted-proxy-socks5/01.en.md
  tutorials/install-lamp-on-ubuntu-debian/01.en.md
  tutorials/install-lamp-on-ubuntu-debian/01.ru.md
  tutorials/install-lemp-stack-on-ubuntu-20.04/01.en.md
  tutorials/restrict-access-by-ip-or-password-in-nginx/01.en.md
Labels: ready, Existing tutorial

#866 add how-to-keep-your-hetzner-server-safe tutorial
  tutorials/security-ubuntu-settings-firewall-tools/01.de.md
  tutorials/security-ubuntu-settings-firewall-tools/01.en.md
  tutorials/security-ubuntu-settings-firewall-tools/01.tr.md
  tutorials/security-ubuntu-settings-firewall-tools/images/3.png
  tutorials/security-ubuntu-settings-firewall-tools/images/4.png
  tutorials/security-ubuntu-settings-firewall-tools/images/maintenance.png
  tutorials/security-ubuntu-settings-firewall-tools/images/recovery.png
  tutorials/security-ubuntu-settings-firewall-tools/images/security.png
  tutorials/security-ubuntu-settings-firewall-tools/images/setup.png
Labels: ready

#881 🔄 Update "How to Install Zabbix on CentOS"
  tutorials/install-zabbix-on-centos-7/01.en.md
  tutorials/install-zabbix-on-centos-7/images/zabbix-1.png
  tutorials/install-zabbix-on-centos-7/images/zabbix-2.png
  tutorials/install-zabbix-on-centos-7/images/zabbix-3.png
  tutorials/install-zabbix-on-centos-7/images/zabbix-4.png
  tutorials/install-zabbix-on-centos-7/images/zabbix-5.png
  tutorials/install-zabbix-on-centos-7/images/zabbix-6.png
  tutorials/install-zabbix-on-centos-7/images/zabbix-7.png
  tutorials/install-zabbix-on-centos-7/images/zabbix-8.png
  tutorials/install-zabbix-on-centos/01.en.md
  tutorials/install-zabbix-on-centos/images/zabbix_1.png
  tutorials/install-zabbix-on-centos/images/zabbix_2.png
  tutorials/install-zabbix-on-centos/images/zabbix_3.png
  tutorials/install-zabbix-on-centos/images/zabbix_4.png
  tutorials/install-zabbix-on-centos/images/zabbix_5.png
  tutorials/install-zabbix-on-centos/images/zabbix_6.png
  tutorials/install-zabbix-on-centos/images/zabbix_7.png
  tutorials/install-zabbix-on-centos/images/zabbix_8.png
Labels: ready, Existing tutorial

#882 🔄 Update "Installation and configuration of Puppet Master and Agent"
  tutorials/install-and-configure-puppet-master-and-agent/01.de.md
  tutorials/install-and-configure-puppet-master-and-agent/01.en.md
Labels: ready, Existing tutorial

#883 📝 Temporarily remove Turkish file of "How to Keep Your Ubuntu Server Safe"
  tutorials/security-ubuntu-settings-firewall-tools/01.tr.md
Labels: ready, Existing tutorial

#884 🔄 Update "Check and change hostname on Debian"
  tutorials/check-and-change-hostname-on-debian-9/01.en.md
  tutorials/check-and-change-hostname-on-debian/01.en.md
Labels: ready, Existing tutorial

#885 🔄 Update "How-to: Hetzner Cloud Ansible modules"
  tutorials/howto-hcloud-ansible/01.en.md
Labels: ready, Existing tutorial

#886 📝 Update date in "How-to: Hetzner Cloud Ansible modules"
  tutorials/howto-hcloud-ansible/01.en.md
Labels: ready, Existing tutorial
