Repository hetzneronline/community-content, pull requests merged in 2024-04, with the labels that each got.

#801 Cloudflare website protection
  tutorials/cloudflare-website-protect/01.en.md
  tutorials/cloudflare-website-protect/images/01_Cloudflare_Origin-Certificate.png
Labels: ready

#815 Update Ubuntu version in "Install an encrypted Ubuntu"
  tutorials/install-ubuntu-2004-with-full-disk-encryption-with-clevis-and-tang/01.de.md
  tutorials/install-ubuntu-2004-with-full-disk-encryption-with-clevis-and-tang/01.en.md
  tutorials/install-ubuntu-2004-with-full-disk-encryption/01.de.md
  tutorials/install-ubuntu-2004-with-full-disk-encryption/01.en.md
Labels: ready, Existing tutorial

#817 Update explanations in "Setting up a Let's Encrypt certificate on cloud Load Balancers with external domain"
  tutorials/configure-lb-cert-with-external-domain/01.de.md
  tutorials/configure-lb-cert-with-external-domain/01.en.md
  tutorials/configure-lb-cert-with-external-domain/images/create-cert.de.png
  tutorials/configure-lb-cert-with-external-domain/images/create-cert.png
  tutorials/configure-lb-cert-with-external-domain/images/createCert.png
  tutorials/configure-lb-cert-with-external-domain/images/load-balancer.de.png
  tutorials/configure-lb-cert-with-external-domain/images/load-balancer.png
  tutorials/configure-lb-cert-with-external-domain/images/termination.png
Labels: ready, Existing tutorial

#818 Add command in "Installing Windows without KVM"
  tutorials/install-windows/01.de.md
  tutorials/install-windows/01.en.md
Labels: ready, Existing tutorial

#811 Show Markdown in the language stats
  .gitattributes
Labels: ready

#819 add k8s tutorial
  tutorials/install-vanilla-k8s-with-kubeadm/01.en.md
  tutorials/install-vanilla-k8s-with-kubeadm/images/load_balancer_ports.png
  tutorials/install-vanilla-k8s-with-kubeadm/images/load_balancer_targets.png
  tutorials/install-vanilla-k8s-with-kubeadm/images/server_creation_arm.png
Labels: ready

#821 shopware: update php and use composer instead of webinstaller
  tutorials/install-shopware-6/01.en.md
Labels: ready, Existing tutorial, outdated content

#824 Update workflow "Annual review"
  .github/workflows/check-annual-update.yml
Labels: ready

#829 Deploy nicegui
  tutorials/deploy-nicegui/01.en.md
  tutorials/deploy-nicegui/images/default-nginx-page.en.png
  tutorials/deploy-nicegui/images/dev.en.png
  tutorials/deploy-nicegui/images/networking-tab-hetzner.en.png
Labels: ready

#830 Update 01.en.md
  tutorials/setup-your-own-scalable-kubernetes-cluster/01.en.md
Labels: ready, Existing tutorial

#834 Correction to deploy nicegui
  tutorials/deploy-nicegui/01.en.md
Labels: ready, Existing tutorial

#837 Add IPv6 in "How to protect a website with Cloudflare without exposing ports to the Internet"
  tutorials/cloudflare-website-protect/01.en.md
Labels: ready, Existing tutorial

#838 Fix typo
  .github/scripts-metadata/check-meta-files.sh
Labels: ready

#840 Minor change in "How to protect a website with Cloudflare without exposing ports to the Internet"
  tutorials/cloudflare-website-protect/01.en.md
Labels: ready, Existing tutorial
