Repository hetzneronline/community-content, pull requests merged in 2024-09, with the labels that each got.

#931 Update screenshots
  tutorials/install-and-configure-wireguard-vpn/images/qr.png
  tutorials/install-and-configure-wireguard-vpn/images/wireguard-android-5.png
  tutorials/install-and-configure-wireguard-vpn/images/wireguard-windows-2.png
  tutorials/install-and-configure-wireguard-vpn/images/wireguard-windows-3.png
  tutorials/install-and-configure-wireguard-vpn/images/wireguard-windows-4.png
Labels: ready, Existing tutorial

#934 New tutorial - "Obfuscating WireGuard using Wstunnel"
  tutorials/obfuscating-wireguard-using-wstunnel/01.en.md
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-allowed-calc-1.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-allowed-calc-2.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-log-1.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-termone-cmd.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-termone-menu.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-termone-settings.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-termone.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-wireguard-1.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-wireguard-2.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-wireguard-3.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-android-wireguard-4.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-windows-path-1.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-windows-path-2.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-windows-path-3.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-windows-path-4.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-windows-wg-1.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-windows-wg-2.png
  tutorials/obfuscating-wireguard-using-wstunnel/images/wstunnel-windows-wg-3.png
Labels: ready

#935 How to Clean Up an Ubuntu Server Disk Space
  tutorials/free-ubuntu-disk-space/01.en.md
Labels: ready

#936 Update `deploy-nodejs-with-docker` tutorial
  tutorials/deploy-nodejs-with-docker/01.en.md
Labels: ready, Existing tutorial

#937 Remove old images in "How to deploy a Node.js application with Docker"
  tutorials/deploy-nodejs-with-docker/01.en.md
  tutorials/deploy-nodejs-with-docker/images/docker-hub-automated-builds-1.png
  tutorials/deploy-nodejs-with-docker/images/docker-hub-automated-builds-2.png
  tutorials/deploy-nodejs-with-docker/images/docker-hub-automated-builds-3.png
Labels: ready, Existing tutorial

#938 Update "How to install a LEMP Stack on Ubuntu"
  tutorials/install-lemp-stack-on-ubuntu/01.en.md
  tutorials/install-lemp-stack-on-ubuntu/images/php-hello-world.png
Labels: ready, Existing tutorial

#939 Update "Installing and configuring a WireGuard VPN server on Debian"
  tutorials/install-and-configure-wireguard-vpn-debian/01.en.md
  tutorials/install-and-configure-wireguard-vpn-debian/images/wireguard-keypair-android-1.png
  tutorials/install-and-configure-wireguard-vpn-debian/images/wireguard-keypair-android-2.png
  tutorials/install-and-configure-wireguard-vpn-debian/images/wireguard-keypair-android-3.png
  tutorials/install-and-configure-wireguard-vpn-debian/images/wireguard-keypair-windows.png
Labels: ready, Existing tutorial

#941 implement security measures due to docker issues
  tutorials/deploy-elk-stack-with-docker/01.en.md
Labels: ready, Existing tutorial

#860 Small adjustments to workflow script
  .github/workflows/check-annual-update.yml
Labels: ready

#948 Update "Install and Configure Nextcloud Office"
  tutorials/install-and-configure-nextcloud-collabora-online/01.de.md
  tutorials/install-and-configure-nextcloud-collabora-online/01.en.md
Labels: ready, Existing tutorial

#949 Update "How to install Arch Linux on a Hetzner Cloud server"
  tutorials/how-to-install-archlinux-on-a-hetzner-cloud-server/01.en.md
  tutorials/how-to-install-archlinux-on-a-hetzner-cloud-server/01.ru.md
Labels: ready, Existing tutorial

#954 Fix links to Storage Box documentation
  tutorials/duplicity-script/01.de.md
  tutorials/duplicity-script/01.en.md
  tutorials/install-and-configure-borgbackup/01.de.md
  tutorials/install-and-configure-borgbackup/01.en.md
  tutorials/install-and-configure-borgbackup/01.ru.md
  tutorials/install-and-configure-borgmatic/01.en.md
  tutorials/install-and-configure-sftpclone/01.de.md
  tutorials/install-and-configure-sftpclone/01.en.md
  tutorials/install-and-configure-sftpclone/01.ru.md
  tutorials/plesk-backup-storage-box/01.en.md
  tutorials/setup-autofs-mount-storagebox/01.en.md
Labels: Existing tutorial
