Repository hetzneronline/community-content, pull requests merged in 2025-02, with the labels that each got.

#1065 Fix formatting
  tutorials/deploy-img-to-cloud-server/01.de.md
  tutorials/deploy-img-to-cloud-server/01.en.md
Labels: Existing tutorial

#1066 Fix: borg compact & Typo #1061
  tutorials/backupserver-with-borg/01.en.md
Labels: ready, Existing tutorial

#1068 Fix formatting
  tutorials/deploy-img-to-cloud-server/01.de.md
  tutorials/deploy-img-to-cloud-server/01.en.md
Labels: Existing tutorial

#1070 Update "Installing Wordpress with Cyberpanel and Openlitespeed on Ubuntu"
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/01.en.md
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_1.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_10.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_11.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_12.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_13.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_14.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_16-1.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_16.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_3.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_4.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_5.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_7-1.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_7.png
  tutorials/how-to-install-wordpress-with-cyberpanel-openlitespeed-on-ubuntu-20.04-LTS/images/Screenshot_9.png
Labels: ready, Existing tutorial

#1069 Update "Obfuscating WireGuard using Wstunnel"
  tutorials/obfuscating-wireguard-using-wstunnel/01.en.md
Labels: ready, Existing tutorial

#1073 Update udocker managed server tutorial
  tutorials/run-docker-containers-on-a-managed-server-with-udocker/01.en.md
Labels: ready, Existing tutorial

#1081 Update "Hosting an AI chatbot with Ollama and Open WebUI"
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.de.md
  tutorials/ai-chatbot-with-ollama-and-open-webui/01.en.md
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/01_chatui_preview.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/01_chatui_preview.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/01_chatui_previews.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/01_chatui_previews.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/02_chatui-model-settings.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-model-download.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-model-download.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-models-download.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-models-download.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-models-open.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/03_chatui-models-open.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/04_chatui-model-llama2.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/04_chatui-model-llama2.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/04_chatui-model-llama3.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/04_chatui-model-llama3.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/05_chatui-model-several.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/05_chatui-model-several.en.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/05_chatui-models-several.de.jpg
  tutorials/ai-chatbot-with-ollama-and-open-webui/images/05_chatui-models-several.en.jpg
Labels: ready, Existing tutorial

#1043 Kubernetes on hetzner with crio flannel and hetzner balancer
  tutorials/kubernetes-on-hetzner-with-crio-flannel-and-hetzner-balancer/01.en.md
  tutorials/kubernetes-on-hetzner-with-crio-flannel-and-hetzner-balancer/01.ru.md
Labels: ready

#1087 Update "Linux: Formatting and mounting a block storage device"
  tutorials/howto-linux-mount/01.de.md
  tutorials/howto-linux-mount/01.en.md
Labels: ready, Existing tutorial

#1088 Update: Managed Kubernetes with Cloudfleet tutorial
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/01.en.md
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubectl-1.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubectl-2.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubectl.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubernetes-hetzner-1.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubernetes-hetzner-2.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubernetes-hetzner-3.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/cloudfleet-kubernetes-hetzner-4.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/deploy-on-hetzner-kubernetes.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-api-key.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-cloud-console-kubernetes-load-balancer.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-cloud-console-kubernetes-server.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-1.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-2.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-3.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-4.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-5.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-cluster-events.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-cluster-workloads.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-nginx-web.png
  tutorials/managed-hetzner-kubernetes-with-cloudfleet/images/hetzner-kubernetes-nginx.png
Labels: ready, Existing tutorial

#1072 ✨ New tutorial - "Deploy Django with Nginx and S3 Storage"
  tutorials/deploy-django-with-nginx-and-s3-storage/01.en.md
Labels: ready

#1090 New tutorial "Running the AI chatbot DeepSeek with Ollama"
  tutorials/ai-chatbot-with-ollama-and-deepseek/01.de.md
  tutorials/ai-chatbot-with-ollama-and-deepseek/01.en.md
  tutorials/ai-chatbot-with-ollama-and-deepseek/images/01_Hetzner-website.de.png
  tutorials/ai-chatbot-with-ollama-and-deepseek/images/01_Hetzner-website.png
Labels: ready

#1097 Fix typos
  tutorials/install-and-configure-nextcloud-collabora-online/01.de.md
  tutorials/install-and-configure-nextcloud-collabora-online/01.en.md
  tutorials/testing-ansible-with-molecule/01.de.md
  tutorials/testing-ansible-with-molecule/01.en.md
Labels: ready, Existing tutorial

#1099 Update "Building preconfigured OS images with HashiCorp Packer"
  tutorials/custom-os-images-with-packer/01.de.md
  tutorials/custom-os-images-with-packer/01.en.md
Labels: ready, Existing tutorial

#1075 Deploying a Rails 8 app on Hetzner
  tutorials/deploy-rails-8-app-on-hetzner-with-kamal/01.en.md
  tutorials/deploy-rails-8-app-on-hetzner-with-kamal/images/create-new-post.png
  tutorials/deploy-rails-8-app-on-hetzner-with-kamal/images/posts-index.png
  tutorials/deploy-rails-8-app-on-hetzner-with-kamal/images/rails-app-deployed-to-production.png
  tutorials/deploy-rails-8-app-on-hetzner-with-kamal/images/running-the-default-app.png
Labels: ready
