Repository hetzneronline/community-content, pull requests merged in 2025-04, with the labels that each got.

#1123 Fixed typo in "Securing the SSH service"
  tutorials/securing-ssh/01.de.md
  tutorials/securing-ssh/01.en.md
Labels: Existing tutorial

#1128 📝 Add step in "How to login to your Hetzner instance with an SSH Key"
  tutorials/add-ssh-key-to-your-hetzner-cloud/01.en.md
Labels: ready, Existing tutorial

#1130 Small fix in "How to Keep Your Ubuntu Server Safe"
  tutorials/security-ubuntu-settings-firewall-tools/01.de.md
  tutorials/security-ubuntu-settings-firewall-tools/01.en.md
Labels: ready, Existing tutorial

#1131 Add TLS/SSL certificate in "Setup your own scalable Kubernetes cluster with the Terraform provider for Hetzner Cloud"
  tutorials/setup-your-own-scalable-kubernetes-cluster/01.en.md
Labels: ready, Existing tutorial

#1140 Fix broken links
  tutorials/configuring-windows-remote-desktop-services/01.de.md
  tutorials/configuring-windows-remote-desktop-services/01.en.md
  tutorials/configuring-windows-remote-desktop-services/01.ru.md
  tutorials/create-and-install-custom-centos-8-image/01.en.md
  tutorials/howto-hcloud-terraform-fedora-coreos/01.en.md
  tutorials/install-and-configure-vmware-vcenter/01.en.md
  tutorials/install-and-secure-phpmyadmin-with-nginx-on-centos-7/01.en.md
  tutorials/install-kubernetes-cluster/01.en.md
  tutorials/install-outline-vpn-server/01.en.md
  tutorials/lsi-raid-controller/01.ru.md
  tutorials/setup-https-on-nginx-on-freebsd-12/01.en.md
  tutorials/testing-ansible-with-molecule/01.de.md
  tutorials/testing-ansible-with-molecule/01.en.md
Labels: ready

#1109 Update for rocket-chat tutorial
  tutorials/how-to-install-rocketchat-on-ubuntu-20-04/images/rocketchat_overview.png
  tutorials/how-to-install-rocketchat-on-ubuntu-20-04/images/rocketchat_wizard_step1.png
  tutorials/how-to-install-rocketchat-on-ubuntu-20-04/images/rocketchat_wizard_step3.png
  tutorials/how-to-install-rocketchat-on-ubuntu/01.de.md
  tutorials/how-to-install-rocketchat-on-ubuntu/01.en.md
  tutorials/how-to-install-rocketchat-on-ubuntu/images/rocketchat_overview.de.png
  tutorials/how-to-install-rocketchat-on-ubuntu/images/rocketchat_overview.en.png
  tutorials/how-to-install-rocketchat-on-ubuntu/images/rocketchat_wizard_step1.de.png
Labels: ready, Existing tutorial

#1136 Use a deep learning model to detect the language used in code blocks
  tutorials/a-basic-guide-to-php-symfony/02.en.md
  tutorials/automount-filesystems-with-systemd/01.en.md
  tutorials/backupserver-with-borg/01.en.md
  tutorials/create-and-install-custom-centos-8-image/01.en.md
  tutorials/create-microk8s-cluster/01.en.md
  tutorials/create-secure-ubuntu-18-04-snapshot/01.en.md
  tutorials/create-server-via-batch-file/01.en.md
  tutorials/deploy-nodejs-with-docker/01.en.md
  tutorials/deploy-rails-8-app-on-hetzner-with-kamal/01.en.md
  tutorials/deploy-your-flask-application-using-uwsgi/01.en.md
  tutorials/distributing-ipv6-over-libvirt-guests/01.de.md
  tutorials/distributing-ipv6-over-libvirt-guests/01.en.md
  tutorials/docker-ipv6-securely/01.en.md
  tutorials/gitlab-server-with-docker/01.en.md
  tutorials/hcloud-install-rancher-single/01.en.md
  tutorials/hetzner-load-balancer-plesk/01.en.md
  tutorials/how-to-install-SmartOS/01.en.md
  tutorials/how-to-install-r-on-debian/01.en.md
  tutorials/how-to-set-up-nat-for-cloud-networks/01.de.md
  tutorials/how-to-set-up-nat-for-cloud-networks/01.en.md
  tutorials/howto-docker-container/01.de.md
  tutorials/howto-docker-container/01.en.md
  tutorials/howto-docker-install/01.en.md
  tutorials/howto-hcloud-kickstart-centos/01.en.md
  tutorials/howto-highly-available-load-balancer-hetzner-cloud-ansible/01.en.md
  tutorials/install-and-configure-danted-proxy-socks5/01.en.md
  tutorials/install-and-configure-jenkins-executor-on-ubuntu/01.en.md
  tutorials/install-and-configure-jenkins-on-ubuntu/01.en.md
  tutorials/install-and-configure-jupyterhub-on-ubuntu-18-04/01.en.md
  tutorials/install-and-configure-ogp-panel-in-debian-ubuntu/01.en.md
  tutorials/install-and-configure-plex-media-server-on-centos-8/01.en.md
  tutorials/install-and-configure-sftpclone/01.de.md
  tutorials/install-and-configure-sftpclone/01.en.md
  tutorials/install-and-configure-sftpclone/01.ru.md
  tutorials/install-galera-cluster-with-cloud-servers/01.de.md
  tutorials/install-galera-cluster-with-cloud-servers/01.en.md
  tutorials/install-livck/01.en.md
  tutorials/install-nagios-on-centos-7/01.en.md
  tutorials/install-outline-vpn-server/01.en.md
  tutorials/install-outline-vpn-server/01.ru.md
  tutorials/installing-aapanel/01.en.md
  tutorials/iptables/01.de.md
  tutorials/iptables/01.en.md
  tutorials/migrate-proxmox-to-new-server/01.en.md
  tutorials/raid-repartitioning-on-system-in-use/01.de.md
  tutorials/raid-repartitioning-on-system-in-use/01.en.md
  tutorials/secure-fedora-webserver/01.en.md
  tutorials/server-monitoring-using-grafana-and-influxdb/01.en.md
  tutorials/setup-a-tor-relay-on-freebsd-12/01.en.md
  tutorials/setup-autofs-mount-storagebox/01.en.md
  tutorials/setup-mailserver-with-mailcow/01.en.md
  tutorials/tartarus-backup/01.de.md
  tutorials/tartarus-backup/01.en.md
Labels: ready

#1141 FastAPI Disco Tutorial
  tutorials/deploy-fastapi-on-a-server-using-disco/01.en.md
Labels: ready
