Repository hetzneronline/community-content, pull requests merged in 2025-07, with the labels that each got.

#1179 Update 01.en.md according to issue: #1177
  tutorials/securing-ssh/01.de.md
  tutorials/securing-ssh/01.en.md
Labels: ready, Existing tutorial

#1190 Update "How to route cloud server over private network using pfSense and Hetzner Cloud Networks"
  tutorials/how-to-route-cloudserver-over-private-network-using-pfsense-and-hcnetworks/01.en.md
Labels: ready, Existing tutorial

#1196 Add missing translation in "Initial Server Setup with Ubuntu"
  tutorials/howto-initial-setup-ubuntu/01.en.md
Labels: Existing tutorial

#1174 Add tutorial: "Turning your vps into a deployment and hosting platform using Stormkit"
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/01.en.md
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/01.it.md
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/images/step-1-hetzner-console.png
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/images/step-4-terminal.png
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/images/step-5-env-vars.png
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/images/step-6-dbeaver-main-tab.png
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/images/step-6-dbeaver-ssh-tab.png
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/images/step-7-deployment.png
  tutorials/turning-your-vps-into-a-deployment-and-hosting-platform-using-stormkit/images/step-7-import-app.png
Labels: ready

#1200 New Tutorial: "Auto-Shutdown Hetzner VPS at the Bandwidth Limit to Avoid Overcharges"
  tutorials/auto-shutdown-vps-at-bandwidth-limit/01.en.md
Labels: ready

#1204 Fix typo in "How to install Ubuntu 24.04 with full disk encryption"
  tutorials/install-ubuntu-2004-with-full-disk-encryption/01.de.md
  tutorials/install-ubuntu-2004-with-full-disk-encryption/01.en.md
Labels: ready, Existing tutorial

#1207 Change file in "Basic Cloud Config"
  tutorials/basic-cloud-config/01.de.md
  tutorials/basic-cloud-config/01.en.md
Labels: ready, Existing tutorial
