Repository hetzneronline/community-content, pull requests merged in 2025-08, with the labels that each got.

#1211 Update "Install and Configure BorgBackup"
  tutorials/install-and-configure-borgbackup/01.de.md
  tutorials/install-and-configure-borgbackup/01.en.md
  tutorials/install-and-configure-borgbackup/01.ru.md
Labels: ready, Existing tutorial

#1213 Update tutorial: "Setting up an OSSEC Server and Agent" with changed configuration file
  tutorials/ossec-server-and-agent-setup/01.en.md
Labels: ready, Existing tutorial

#1191 New tutorial: Fully encrypted nextcloud AIO on Hetzner VPS+StorageBox
  tutorials/encrypted-private-nextcloud-VPS-and-storagebox/01.en.md
Labels: ready

#1218 New tutorial - "Run WordPress in a container using Docker Compose"
  tutorials/run-wordpress-in-a-container-using-docker-compose/01.en.md
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/phpmyadmin-export-sql.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/phpmyadmin-main.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/phpmyadmin-wordpress-database.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/vscode-break-on-error.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/vscode-breakpoint-stopped.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/vscode-breakpoint.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/vscode-run-and-debug-break-on-everything.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/vscode-run-and-debug.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/vscode-start-debugging.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/vscode-xdebug-extension.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-dashboard-main.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-dashboard-themes.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-error-message.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-error.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-language-picker.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-login-form.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-setup-filled.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-setup-success.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-setup.png
  tutorials/run-wordpress-in-a-container-using-docker-compose/images/wordpress-website-homepage.png
Labels: ready

#1226 Add a missing link
  tutorials/run-wordpress-in-a-container-using-docker-compose/01.en.md
Labels: ready, Existing tutorial

#1227 Update links in "Installing FreeBSD with OpenZFS via the Linux rescue system"
  tutorials/freebsd-with-openzfs-via-linux-rescue/01.en.md
Labels: Existing tutorial

#1220 ✨ New tutorial - "Deploy Kubernetes on Hetzner with Edka"
  tutorials/kubernetes-with-edka/01.en.md
  tutorials/kubernetes-with-edka/images/edka-add-ons.png
  tutorials/kubernetes-with-edka/images/edka-app-deployment-autoscaling.png
  tutorials/kubernetes-with-edka/images/edka-app-deployment-creating.png
  tutorials/kubernetes-with-edka/images/edka-app-deployment-expose.png
  tutorials/kubernetes-with-edka/images/edka-app-deployment-overview.png
  tutorials/kubernetes-with-edka/images/edka-app-deployment-rollback.png
  tutorials/kubernetes-with-edka/images/edka-app-deployment-updates.png
  tutorials/kubernetes-with-edka/images/edka-app-env-secrets.png
  tutorials/kubernetes-with-edka/images/edka-k8s-cluster-access.png
  tutorials/kubernetes-with-edka/images/edka-k8s-cluster-creating.png
  tutorials/kubernetes-with-edka/images/edka-k8s-cluster-overview.png
  tutorials/kubernetes-with-edka/images/edka-k8s-cluster.png
  tutorials/kubernetes-with-edka/images/edka-postgres-backups.png
  tutorials/kubernetes-with-edka/images/edka-postgres-endpoints.png
  tutorials/kubernetes-with-edka/images/edka-postgres-pitr.png
  tutorials/kubernetes-with-edka/images/edka-postgres-provisioning.png
Labels: ready

#1229 Remove extra space in "Deploy your own ELK stack using Docker Compose"
  tutorials/deploy-elk-stack-with-docker/01.en.md
Labels: ready, Existing tutorial
