Repository hetzneronline/community-content, pull requests merged in 2025-05, with the labels that each got.

#1149 Delete tutorial
  tutorials/howto-hcloud-terraform-fedora-coreos/01.en.md
Labels: Existing tutorial

#1150 Update "Install and Configure Nextcloud Office"
  tutorials/install-and-configure-nextcloud-collabora-online/01.de.md
  tutorials/install-and-configure-nextcloud-collabora-online/01.en.md
Labels: ready, Existing tutorial

#1151 Update "Install and Configure Proxmox VE"
  tutorials/install-and-configure-proxmox_ve/01.de.md
  tutorials/install-and-configure-proxmox_ve/01.en.md
Labels: ready, Existing tutorial

#1152 Update "How to install Ubuntu 24.04 with full disk encryption"
  tutorials/install-ubuntu-2004-with-full-disk-encryption/01.de.md
  tutorials/install-ubuntu-2004-with-full-disk-encryption/01.en.md
Labels: ready, Existing tutorial

#1144 New tutorial: How to Use Object Storage with Django Storages
  tutorials/object-storage-django-storages/01.de.md
  tutorials/object-storage-django-storages/01.en.md
  tutorials/object-storage-django-storages/images/django-admin-interface.webp
  tutorials/object-storage-django-storages/images/django-welcome-page.webp
  tutorials/object-storage-django-storages/images/hetzner-object-storage.webp
Labels: ready

#1156 Fix directory name
  tutorials/how-to-generate-ssh-key-putty/01.de.md
  tutorials/how-to-generate-ssh-key-putty/01.en.md
  tutorials/how-to-generate-ssh-key-putty/images/putty-ssh-connect.png
  tutorials/how-to-generate-ssh-key-putty/images/putty-ssh-login-credentials.png
  tutorials/how-to-generate-ssh-key-putty/images/puttygen-exe.png
Labels: ready

#1153 Update "Encrypting your files in the cloud using securefs"
  tutorials/encrypting-your-files-in-the-cloud-using-securefs/01.en.md
Labels: ready

#1137 ✨ Add new tutorial on transferring databases to Hetzner Cloud
  tutorials/how-to-transfer-database-to-hetzner-cloud/01.en.md
  tutorials/how-to-transfer-database-to-hetzner-cloud/images/add-network.png
  tutorials/how-to-transfer-database-to-hetzner-cloud/images/create-source-connection.png
  tutorials/how-to-transfer-database-to-hetzner-cloud/images/create-stream.png
  tutorials/how-to-transfer-database-to-hetzner-cloud/images/create-target-connection.png
  tutorials/how-to-transfer-database-to-hetzner-cloud/images/monitor-stream.png
Labels: ready

#1159 Small changes in "Setting up your own public cloud with Proxmox on Hetzner bare metal"
  tutorials/hyperconverged-proxmox-cloud/01.en.md
Labels: ready, Existing tutorial

#1158 New tutorial - "How to use FFmpeg for video editing"
  tutorials/how-to-use-ffmpeg-for-video-editing/01.en.md
Labels: ready

#1161 Fix links
  tutorials/how-to-use-ffmpeg-for-video-editing/01.en.md
Labels: ready, Existing tutorial
