Repository hetzneronline/community-content, pull requests merged in 2025-01, with the labels that each got.

#1029 Fix issues in flask and django tutorials
  tutorials/run-django-app-on-webhosting-or-managed-server/01.en.md
  tutorials/run-flask-app-on-webhosting-or-managed-server/01.en.md
Labels: ready

#1032 New tutorial: How to setup a Nginx webserver using ansible on Ubuntu
  tutorials/devops-recipe-using-ansible-to-build-a-web-server/01.en.md
Labels: ready

#1042 Kubernetes on Hetzner Using Bare Metal Servers as Nodes
  tutorials/kubernetes-on-hetzner-using-bare-metal-servers/01.de.md
  tutorials/kubernetes-on-hetzner-using-bare-metal-servers/01.en.md
Labels: ready

#1040 New tutorial - "Setup custom domain with S3-compatible object storage"
  tutorials/hetzner-object-storage-custom-domain/01.en.md
Labels: ready

#1045 Update tutorial - "Installation and configuration of Shopware 6"
  tutorials/install-shopware-6/01.en.md
Labels: ready, Existing tutorial

#1028 ✨New Guide - "deploy-your-flask-application-using-uwsgi"
  tutorials/deploy-your-flask-application-using-uwsgi/01.en.md
Labels: ready

#1047 Fix "How to set up NAT gateway for private Cloud Networks"
  tutorials/how-to-set-up-nat-for-cloud-networks/01.de.md
  tutorials/how-to-set-up-nat-for-cloud-networks/01.en.md
Labels: ready, Existing tutorial

#1048 Fix typo in "Install and Configure BorgBackup"
  tutorials/install-and-configure-borgbackup/01.de.md
  tutorials/install-and-configure-borgbackup/01.en.md
  tutorials/install-and-configure-borgbackup/01.ru.md
Labels: ready, Existing tutorial

#1049 Fix phrasing in "Install a Nomad cluster with Consul on cloud servers"
  tutorials/install-nomad-consul-cluster/01.en.md
Labels: Existing tutorial

#1050 Fix "Installing Windows without KVM"
  tutorials/install-windows/01.de.md
  tutorials/install-windows/01.en.md
Labels: ready, Existing tutorial

#1051 Add note in "How to install Debian 11 encrypted with LVM on a NVMe software RAID"
  tutorials/install-debian-11-with-lvm-encrypted-nvme-software-raid/01.en.md
Labels: ready, Existing tutorial

#1053 Update "Install TinyCP"
  tutorials/install-tinycp/01.en.md
  tutorials/install-tinycp/01.pt.md
  tutorials/install-tinycp/01.ru.md
  tutorials/install-tinycp/images/tinycp_installed.png
  tutorials/install-tinycp/images/tinycp_panel.en.png
  tutorials/install-tinycp/images/tinycp_panel.png
Labels: ready

#1054 Update "Restrict access by an IP or password in nginx"
  tutorials/restrict-access-by-ip-or-password-in-nginx/01.en.md
Labels: ready, Existing tutorial

#1055 Update "Installing and configuring WireGuard VPN on Ubuntu"
  tutorials/install-and-configure-wireguard-vpn/01.en.md
Labels: ready, Existing tutorial

#1058 Created Uptime Kuma monitoring
  tutorials/how-to-install-uptime-kuma-monitoring-tool/01.en.md
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/first-login.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/portainer-get-started.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/selecting-environment.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/selecting-server.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/uptime-kuma-creating-maintenance.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/uptime-kuma-creating-status-page.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/uptime-kuma-dashboard.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/uptime-kuma-login.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/uptime-kuma-server-monitor.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/uptime-kuma-status-page-settings.png
  tutorials/how-to-install-uptime-kuma-monitoring-tool/images/uptime-kuma-website-monitor.png
Labels: ready

#1063 Added tutorial "deploy-img-to-cloud-server"
  tutorials/deploy-img-to-cloud-server/01.de.md
  tutorials/deploy-img-to-cloud-server/01.en.md
Labels: ready
